

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> Titlu Examen </title>
</head>
<body>
<div style="float:left; width:30%;">
    <div>
        <p>Comenzi</p>
        <ul>
            <li><a href="/Recenzii/Index">Afisare</a></li>
            <li><a href="/Recenzii/Create">Inserare</a></li>
            <li><a href="/Recenzii/Edit">Editare</a></li>  
            <li><a href="/Recenzii/Delete">Stergere</a></li>
            <li><a href="/Recenzii/Media">Filme si media notelor lor</a></li>
            <li><a href="/Recenzii/Cautare">Cautare dupa nume/nota</a></li>
        </ul>
    </div>
</div>
<div style="float:right; width:70%; ">
    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
    </asp:ContentPlaceHolder>
</div>
</body>
</html>